<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>[Project Page Name]</title>
    <link rel="icon" type="image/x-icon" href="../common/figs/fevicon_davian.png">
</head>

<body>
    <div class="container" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <!-- Title and autors -->
                <center>
                    <h2 style="margin-top: 20px; margin-bottom: 20px; line-height: 1.2em;">
                        Paper Name</h2>
                    <h4>Conference name</h4>
                    <!-- author -->
                    <div class="row author" style="margin-top:18px;">
                        <div class="col-sm-3">
                            <a href="https://pmh9960.github.io/" target="_blank">Minho Park*</a>
                            <div class="font-italic">m.park@kaist.ac.kr</div>
                        </div>
                        <div class="col-sm-3">
                            <a href="https://github.com/YeolJ00" target="_blank">Jooyeol Yun*</a>
                            <div class="font-italic">blizzard072@kaist.ac.kr</div>
                        </div>
                        <div class="col-sm-3">
                            <a href="https://github.com/shadow2496" target="_blank">Seunghwan Choi</a>
                            <div class="font-italic">shadow2496@kaist.ac.kr</div>
                        </div>
                        <div class="col-sm-3">
                            <a href="https://sites.google.com/site/jaegulchoo/" target="_blank">Jaegul Choo</a>
                            <div class="font-italic">jchoo@kaist.ac.kr</div>
                        </div>
                    </div>
                    <div class="row author" , style="margin-top:18px; font-size: 20px;">
                        <div class="col-sm-12">Korea Advanced Institute of Science and Technology (KAIST)</div>
                    </div>
                    <div style="margin-top:15px">
                        <sup style="font-size: 15px">* indicates equal contrubutions.</sup>
                    </div>
                </center>
                <!-- Teaser -->
                <center>
                    <figure class="figure">
                        <img src="..." class="figure-img img-fluid" alt="Responsive image" style="margin:20px 0px;">
                        <figcaption class="figure-caption text-justify">
                            <center>
                                Teaser description
                            </center>
                        </figcaption>
                    </figure>
                </center>
                <div style="margin-top:15px"></div>
                <!-- ICONs (arXiv, Code, BibTeX) -->
                <center>
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="https://arxiv.org/abs/2207.06831" style="text-decoration: none;color: #000000;" target="_blank">
                                <div>
                                    <img src="../common/figs/icon_arxiv.png" height="64px"></img>
                                    <h4>arXiv</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="https://github.com/pmh9960/iColoriT" style="text-decoration: none;color: #000000;" target="_blank">
                                <div>
                                    <img src="../common/figs/icon_github.png" height="64px"></img>
                                    <h4>Code</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="./bibtex.txt" style="text-decoration: none;color: #000000;" target="_blank">
                                <div>
                                    <img src="../common/figs/icon_bibtex.png" height="64px"></img>
                                    <h4>BibTeX</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </center>
                <hr>
                <!-- Abstract -->
                <h3>Abstract</h3>
                <div>
                    <p class="lead text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, repellendus necessitatibus pariatur sunt veniam
                        sit provident recusandae, expedita vero ipsa, laborum voluptatem magni natus. Tenetur at quod libero magnam quia?
                    </p>
                </div>
                <hr>
                <!-- Paper preview -->
                <h3>Paper</h3>
                <div>
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="./figs/paper_preview.png" class="img-fluid border" alt="" style="margin:20px;">
                        </div>
                        <div class="col" style="margin-top: auto; margin-bottom: auto;">
                            <div class="align-middle" style="width: 100%;">
                                <a href="..." target="_blank">[Paper PDF]</a>
                                <a href="..." target="_blank">[arXiv]</a>
                                <!-- <a href="" target="_blank">[Bibtex]</a> -->
                                <!-- <a href="" target="_blank">[Video]</a> -->
                                <!-- <a href="" target="_blank">[Slide]</a> -->
                                <a href="" target="_blank">[Github]</a>
                                <p class="lead">
                                    Conf, Year. <br>
                                    Authors.<br>
                                    "Paper name"
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Method overview -->
                <h3>Method overview</h3>
                <div>
                    <center>
                        <figure class="figure">
                            <img src="./figs/main_method_main.png" class="figure-img img-fluid" alt="Responsive image" style="margin:0px;">
                            <figcaption class="figure-caption text-justify">
                                <center>
                                    An overview of our proposed method.
                                </center>
                            </figcaption>
                        </figure>
                    </center>
                </div>
                <hr>
                <!-- Citation -->
                <div>
                    <h3>Citation</h3>
                    <pre><code>@InProceedings{
}</code></pre>
                </div>
                <hr>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: { inlineMath: [['$', '$']], displayMath: [['$$', '$$']] }
            });
        </script>
    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>

</html>