/* For BibTeX */

pre {
  font-size: 0.9em;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  background-color: rgb(235, 235, 235);
  overflow-x: auto;
}

h3 {
  line-height: 2em;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
