#slider-wrap-1 {
  width: 100%;
  aspect-ratio: 3 / 1.15; /* TODO change */
  position: relative;
  overflow: hidden;
}

#slider-wrap-1 ul#slider {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#slider-wrap-1 ul#slider li {
  float: left;
  position: relative;
}

#slider-wrap-1 ul#slider li img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*btns*/
.slider-btns-1 {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 50%;
  margin-top: -25px;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.slider-btns-1:hover {
  background: rgba(0, 0, 0, 0.3);
}

#next-1 {
  right: -50px;
  border-radius: 7px 0px 0px 7px;
  color: #eee;
}

#previous-1 {
  left: -50px;
  border-radius: 0px 7px 7px 7px;
  color: #eee;
}

#slider-wrap-1.active #next-1 {
  right: 0px;
}

#slider-wrap-1.active #previous-1 {
  left: 0px;
}

/*bar*/
#slider-pagination-wrap-1 {
  min-width: 20px;
  margin-top: 33.5%;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  position: relative;
  text-align: center;
}

#slider-pagination-wrap-1 ul {
  width: 100%;
}

#slider-pagination-wrap-1 ul li {
  margin: 0 4px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  opacity: 0.5;
  position: relative;
  top: 0;
}

#slider-pagination-wrap-1 ul li.active {
  width: 12px;
  height: 12px;
  top: 3px;
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*ANIMATION*/
#slider-wrap-1 ul,
#slider-pagination-wrap-1 ul li {
  -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
  -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
  transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}