:root {
  --slider-height-NNN: 400px;
}

#slider-wrap-NNN {
  width: 100%;
  height: var(--slider-height-NNN);
  position: relative;
  overflow: hidden;
}

#slider-wrap-NNN ul#slider {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#slider-wrap-NNN ul#slider li {
  float: left;
  position: relative;
}

#slider-wrap-NNN ul#slider li>div {
  position: absolute;
  top: calc(var(--slider-height-NNN) - 30px);
  left: 45%;
}

#slider-wrap-NNN ul#slider li>div h3 {
  font-size: 36px;
  text-transform: uppercase;
}

#slider-wrap-NNN ul#slider li>div span {
  font-size: 21px;
}

#slider-wrap-NNN ul#slider li img {
  display: block;
  width: auto;
  height: calc(var(--slider-height-NNN) - 65px);
  margin-left: auto;
  margin-right: auto;
}

/*btns*/
.slider-btns-NNN {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 50%;
  margin-top: -25px;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.slider-btns-NNN:hover {
  background: rgba(0, 0, 0, 0.3);
}

#next-NNN {
  right: -50px;
  border-radius: 7px 0px 0px 7px;
  color: #eee;
}

#previous-NNN {
  left: -50px;
  border-radius: 0px 7px 7px 7px;
  color: #eee;
}

#slider-wrap-NNN.active #next-NNN {
  right: 0px;
}

#slider-wrap-NNN.active #previous-NNN {
  left: 0px;
}

/*bar*/
#slider-pagination-wrap-NNN {
  min-width: 20px;
  margin-top: calc(var(--slider-height-NNN) - 60px);
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  position: relative;
  text-align: center;
}

#slider-pagination-wrap-NNN ul {
  width: 100%;
}

#slider-pagination-wrap-NNN ul li {
  margin: 0 4px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  opacity: 0.5;
  position: relative;
  top: 0;
}

#slider-pagination-wrap-NNN ul li.active {
  width: 12px;
  height: 12px;
  top: 3px;
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*ANIMATION*/
#slider-wrap-NNN ul,
#slider-pagination-wrap-NNN ul li {
  -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
  -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
  transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}